body {
  padding: 25px;
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

a {
  color: cyan;
}

a.light-mode {
  color: blue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input.right{
  float: right;
}
